<html>
    <head>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
	<body>
		<h2>Cadastro de Usuario</h2>
		<br/><br/>
		<a href="/">Login</a><br/><br/>    
		<form action="/salvaCadastro/" method="POST">
         {% csrf_token %}
         Login: {{ cadastroForm.login }} <br/><br/>
         Senha: {{ cadastroForm.senha }} <br/><br/>
         Email: {{ cadastroForm.email }} <br/><br/>
         <input type="submit" value="Salvar" />
        </form>

	</body>
</html>