<html>
    <head>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
	<body>
	 {% load i18n %}
		<div style="margin-left: 20px;">
		  <h2>{% trans "Agenda Telefonica" %}</h2>
		  <a href="#" onclick="document.setLangEnglish.submit();return false;">English </a>
          <form name="setLangEnglish" action="/i18n/setlang/" method="POST">
           {% csrf_token %}
           <input name="next" type="hidden" value="/" />
           <input name="language" type="hidden" value="en" />
          </form>
          <a href="#" onclick="document.setLangPortugues.submit();return false;">Português </a>
          <form name="setLangPortugues" action="/i18n/setlang/" method="POST">
           {% csrf_token %}
           <input name="next" type="hidden" value="/" />
           <input name="language" type="hidden" value="pt-br" />
           </form>
           <br />
		  <a href="/cadastro/">{% trans "Cadastro de Usuario" %}</a><br/><br/><br/>  
		  <form action="/entrar/" method="POST">
           {% csrf_token %}
           {% trans "Login:" %} {{ loginForm.login }} <br/><br/>
           {% trans "Senha:" %} {{ loginForm.senha }} <br/><br/>
           <input type="submit" value={% trans "Logar" %}  class="btn btn-success"/>
          </form>
        </div>
	</body>
</html>