<html>
    <head>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
	<body>
	 {% load i18n %}
	<div style="margin-left: 20px;">
	  <h2>{% trans "Lista de Contatos" %}</h2>
	  <a href="/sair/">{% trans "Sair" %}</a>
	  <br/>
	  <a href="/agenda/">{% trans "Cadastrar Contato" %}</a>
	<hr><hr>
	  <table class="table table-hover">
        <thead>
          <tr>
            <th>{% trans "Nome" %}</th>
            <th>{% trans "Sobrenome" %}</th>
            <th>{% trans "Cidade" %}</th>
            <th>{% trans "Telefone" %}</th>
            <th>{% trans "Email" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for agenda in contatos %}
          <tr>
            <td><a href="/editar/{{ agenda.pk }}">{{ agenda.nome }}</a></td>
            <td>{{ agenda.sobrenome }}</td>
            <td>{{ agenda.cidade }}</td>
            <td>{{ agenda.telefone }}</td>
            <td>{{ agenda.email }}</td>
            <td><a href="/excluir/{{ agenda.pk }}">{% trans "Excluir" %}</a></td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
</div>
	</body>
</html>